node_modules
dist
.DS_Store
.env
.agents
out
nodejs
.claude
.codebuddy
.commandcode
.continue
.crush
.factory
.goose
.junie
.kilocode
.kiro
.kode
.mcpjam
.mux
.neovate
.openhands
.pi
.pochi
.qoder
.qwen
.roo
.trae
.windsurf
.zencoder
